*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a5a19b;
}

header{
    background-color: #595652;

    padding: 20px 30px 20px 30px;
    border: 5px solid black; 
    
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: #c5bda6;
}
header button{
    background-color: transparent;
    color: black;
    outline: none;
    border: 0px solid;
    margin: 10px;
    font-weight: bold;
}
header button:hover{
    text-decoration:underline;
}
header .timer{
    border: 1px solid black;
    padding: 2.5px 0 2.5px;
    font-size: 1.5em;
    background-color:#c5bda6;
}

.startScreen{
    text-align: center;
    margin: 60px 0 0 0;
}
.startScreen h1{
    font-size: 2.25em;
}
.startScreen .upperP{
    font-size: 1.5em;
}
.startScreen .lowerP{
    font-size: 1.20em;
    color: #3f3e3e;
}
.startScreen img{
    height: 325px;
    margin: 30px;
    border: 5px solid #595652;
}
.startScreen button{
    background-color: #c5bda6;
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
    margin: 30px 0 0 0;
}

.questionSect, .endScreen, .scores{
    display: none;
} 